# Gemini
GEMINI_API_KEY=xxxxxxx

# Appwrite
APPWRITE_API_KEY=standard_xxxxxxxxx
NEXT_PUBLIC_APPWRITE_PROJECT_NAME = "Bible Gym"
NEXT_PUBLIC_APPWRITE_ENDPOINT = "https://nyc.cloud.appwrite.io/v1"
NEXT_PUBLIC_APPWRITE_DATABASE_ID="xxxxx"
NEXT_PUBLIC_APPWRITE_USERS_COLLECTION_ID="users"
NEXT_PUBLIC_APPWRITE_MASTERY_COLLECTION_ID="mastery"
NEXT_PUBLIC_APPWRITE_WORKOUTS_COLLECTION_ID="workouts"
NEXT_PUBLIC_APPWRITE_PRACTICE_COLLECTION_ID="practice-history"
NEXT_PUBLIC_APPWRITE_GROUPS_COLLECTION_ID="groups"
NEXT_PUBLIC_APPWRITE_DAILY_WORKOUT_COLLECTION_ID="daily_workouts"

# Cron
CRON_SECRET=xxxxxxxxx